<ul class="card-text font-weight-light list-group list-group-flush">
  {% for content in entry.contents %}
    <li class="list-group-item">
      <h5 class="font-italic">{{ content.title }}</h5>
      {% if content.items %}
        <ul class="subitems">
          {% for subitem in content.items %}
            <li>
              {% if subitem.first %}
                <span class="subitem">{{ subitem.first }}</span>
                {% if subitem.size > 1 %}
                  <ul class="nested-subitems">
                    {% for nested_item in subitem offset:1 %}
                      <li><span class="nested-subitem">{{ nested_item }}</span></li>
                    {% endfor %}
                  </ul>
                {% endif %}
              {% else %}
                <span class="subitem">{{ subitem }}</span>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>
